span{
    color : teal;
}

ul.messages{
    padding : 10px;
    height: calc(100% - 100px);
}

ul.messages li{
    margin-top:5px
}

ul.messages li.left{
    color:#6973ae;
}

ul.messages li.right{
    color:#d96a6a;
}
